bitstring==3.1.7
h5py
markdown-it-py==3.0.0
mdurl==0.1.2
numpy
opencv-python
prompt_toolkit==3.0.51
Pygments==2.19.2
pyinstaller
pyserial==3.4
questionary==2.1.0
rich==14.0.0
requests
uhfReaderApi==1.1.1
wcwidth==0.2.13
PyQt6
PyQt6-Fluent-Widgets
